@font-face {
   font-family: 'Solomon - bold';
   src: url('Solomon - bold/font.ttf');
}
@font-face {
   font-family: 'CornerOne-Bold-Regular';
   src: url('CornerOne-Bold-Regular/font.ttf');
}
@font-face {
   font-family: 'Solomon - thin';
   src: url('Solomon - thin/font.ttf');
}
